{{define "plainbody"}} Welcome to Movie Buff! {{end}}

{{define "plainbody"}}
Hi,

Thanks for signing up for the movie buff api, we're excited to have you board!

Please reach out to us at {{.EMAIL}} if you have any questions!

Thanks,

The movie buff team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p>Hi,</p>
    <p>Thanks for signing up for the movie buff api, we're excited to have you board!</p>
    <p>Please reach out to us at {{.EMAIL}} if you have any questions!</p>
    <p>Thanks,</p>
    <p>The movie buff team</p>
</body>
</html>